/*/////UNIVERSAL/////*/

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

ul,
li {
  color: #000000;
  display: inline-block;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}


/*/////NAVIGATION/////*/

header {
  background-color: #75E2E6;
  border-bottom: 3px solid #048EAA;
  display: inline-block;
  position: relative;
  width: 100%;
}

.logo {
  margin: 10px 0 5px 10px;
  width: 50px;
}

.menu-icon {
  display: none;
}

.full-size-menu {
  float: right;
  font-weight: 600;
  margin-top: 20px;
}

.mobile-menu {
  background-color: #000000;
  border: solid 2px #FFFFFF;
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 55px;
  width: 50%;
  z-index: 99;
}

.mobile-menu-item{
  color: #75e2e6;
  display: block;
  font-weight: bold;
  margin: 15px;
}

.mobile-menu-item:hover {
  color: #FFFFFF;
}

.undrln {
  border-bottom: dotted 2px #FFFFFF;
  width: 100%;
}

.menu-item {
  padding: 1rem;
}

.menu-item:hover {
  background-color: #000000; 
  color: #FFFFFF;
  font-weight: 800;
}



/*/////BANNER/////*/

main {
  text-align: center;
}

.banner {
  background-blend-mode: darken;
  background-position: bottom;
  background-repeat: no-repeat; 
  background-size: cover;  
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("park.jpg");
  position: relative;
}

h1 {
  color: white;
  font-size: 45px;
  font-weight: 400;
  margin: 0;
  padding: 2rem;
}

.dog-name {
  font-weight: 800;
}

.dog {
  border-radius: 50%;
  border: 4px solid #048EAA;
  width: 10rem;
}

form {
  margin: 30px auto;
  width: 40%;
}

.name-label {
  color: #FFFFFF;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

input,
button {
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
}

input {
  font-weight: bold;
  text-align: center;
}

button {
  background-color: #75e2e6;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  font-weight: 800;
}



/*/////COLUMNS/////*/

.columns-container {
  margin: 0;
  padding: 0;
}

.content {
  width:  100%;
}

.column {
  margin: 10px;
  width: 28%;
}

h3 {
  font-size: 1.6rem;
  font-weight: 800;
}

.woofs {
  color: #000000;
  font-weight: normal;
  height: 9rem;
  text-align: justify;
  width: 100%;
}

#what {
  margin: 0 50px;
}

#facts {
  margin-right: 15px;
}

h4 {
  background-color: #048EAA;
  color: #FFFFFF;
  font-weight: 400;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;
}

h4:hover {
  background-color: #FFFFFF;
  border: 2px solid #048EAA;
  color: #048EAA;
}



/*/////FOOTER/////*/

footer {
  background-color: #048EAA;
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
}

h5 {
  font-weight: normal;
  font-size: inherit;
}

.icon {
  padding: 10px;
}

.icon:hover {
  background-color: #75e2e6; 
}



/*/////MEDIA QUERIES/////*/

@media screen 
  and (min-width: 1250px) { 
    .woofs {
      /*height: 10rem;*/
    }
}

@media only screen 
  and (max-width: 1250px) {
    body {
      font-size: 16px;
    }
    h3 {
      font-size: 1.3rem;
      margin-top: 10px;
    }
}

@media only screen 
  and (max-width: 1012px) 
  /*and (min-width: 760px) */
  {
    body {
      font-size: 16px;
    }
    .columns-container{
      margin-top: -20px;
    }
    #what {
      margin: 0 20px
    }
    .column-dog {
      margin: 1rem;
      width: 8rem;
    }
    .woofs {
      height: 11rem;
    }
    form {
      margin: 30px auto;
      width: 60%;
    }
}


@media only screen 
  and (max-width: 759px) {
    .column{
      width: 60%;
    }
    .woofs {
      height: auto;
    }
    h1 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.6rem;
      margin: 0;
      padding-top: 2rem;
    }
    .menu-item {
      padding: 15px 20px;
    }
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 549px) { 
    .menu-item {
      display: none;
    }
    .menu-icon {
      display: inline-block;
      float: right;
      font-size: 40px;
      padding: 10px 30px;
    }
    .menu-icon:hover {
      background-color: #000000;
      color: #FFFFFF;
    }
    .menu-icon:active {
      background-color: #FFFFFF;
    }
    .dog-name {
      display: block;
    }
    form {
      padding-bottom: 20px;
      width: 85%;
    }
    .column{
      width: 85%;
    }
}
